#comment-list .ant-list-split .ant-list-item {
    border-bottom: 0.25em solid #dfe2e5;
}
#comment-list .ant-list-item-meta-description {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, .65);
    font-weight: 400;
}
#comment-list .markdown-body h1, 
#comment-list .markdown-body h2, 
#comment-list .markdown-body h3, 
#comment-list .markdown-body h4, 
#comment-list .markdown-body h5, 
#comment-list .markdown-body h6{
    color: rgba(0, 0, 0, .65);
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 22px;
}
#comment-list .ant-list-item-meta-title > a {
    color: rgb(24, 144, 255);
}

.comment-input .ant-form-item {
    margin: 0;
}
.comment-input .ant-form-item-control {
    text-align: right;
}
  /* 评论框样式 */
.comment-input {
    background-color: #ffffffa3;;
    border: 1px solid #f1f1f1;
    padding: 20px 20px 0 20px;
    border-radius: 30px;
    box-shadow: 6px 9px 0 0 #615f5f;
}
  
code {
    border: 1px solid #ccc;
    background: #f9f9f9;
    padding: 0px 2px;
}