#comment-list .ant-list-split .ant-list-item {
    border-bottom: 0.25em solid #dfe2e5;
}
#comment-list .ant-list-item-meta-description {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, .65);
    font-weight: 400;
}
#comment-list  h1, 
#comment-list  h2, 
#comment-list  h3, 
#comment-list  h4, 
#comment-list  h5, 
#comment-list  h6{
    color: rgba(0, 0, 0, .65);
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 22px;
    border-bottom: 1px solid #eaecef;
}
#comment-list .ant-list-item-meta-title > a {
    color: rgb(24, 144, 255);
}
#comment-list .ant-list-item-meta-content {
    background-color: #d0cbcb47;
}

.comment-input .ant-form-item {
    margin: 0;
}
.comment-input .ant-form-item-control {
    text-align: right;
}
.comment-input .ant-form-item-label {
    height: 52px;
}
  
code {
    border: 1px solid #ccc;
    background: #f9f9f9;
    padding: 0px 2px;
}