#comment-list .ant-list-split .ant-list-item {
    border-bottom: 0.25em solid #dfe2e5;
}
#comment-list .ant-list-item-meta-description {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, .65);
    font-weight: 400;
}
  /* 评论框样式 */
.comment-input {
    background-color: #ffffffa3;;
    border: 1px solid #f1f1f1;
    padding: 20px 20px 0 20px;
    border-radius: 30px;
}
  
code {
    border: 1px solid #ccc;
    background: #f9f9f9;
    padding: 0px 2px;
}