#components-layout-demo-fixed .logo {
    width: 120px;
    height: 31px;
    background: rgba(255,255,255,.2);  
    /* background-image: url(../../assets/img-bg-header.jpg); */
    margin: 16px 24px 16px 0;
    float: left;
}
.ant-menu {
    background-color: initial;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .3);
}
.ant-menu .ant-menu-item {
    height: 100%;
    transition: background-position-x 0.9s linear;
    text-align: center;
}
.ant-menu .ant-menu-item a,
.ant-menu-submenu-title span,
.ant-menu-item-group-title {
    font-family: 'Merienda', cursive;
    font-size: 15px;
    color: #777;
    text-decoration: none;
    transition: all 0.45s;
}
.ant-menu .ant-menu-item:hover {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
    -webkit-animation: line 1s;
            animation: line 1s;
}
.ant-menu .ant-menu-item:hover a {
    color: #d94f5c;
}

.ant-menu-dark .ant-menu-item > a:focus::after,
.ant-menu-dark .ant-menu-item > a:hover::after {
    /* background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg=="); */
    -webkit-animation: line 1s;
    animation: line 1s;
    opacity: 1;

}
@-webkit-keyframes line {
    0% {
      background-position-x: 390px;
    }
}
  
@keyframes line {
    0% {
      background-position-x: 390px;
    }
}
.ant-menu-dark .ant-menu-item > a, .ant-menu-submenu-title span, .ant-menu-dark .ant-menu-item >a:hover,
.ant-menu-dark .ant-menu-item-group-title {
    color: #001529;
}
.ant-menu-dark .ant-menu-sub {
    background: #cbdae2;
}
.ant-menu-dark .ant-menu-item > a::after {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .3);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .3);
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    width: 100%;
  }



