#components-layout-demo-fixed .logo {
    width: 120px;
    height: 31px;
    background: rgba(255,255,255,.2);  
    /* background-image: url(../../assets/img-bg-header.jpg); */
    margin: 16px 24px 16px 0;
    float: left;
}
.ant-menu {
    background-color: initial;
}
.ant-menu-dark .ant-menu-item > a {
    color: #001529;
}