#dialog .ant-modal-body {
    padding: 0;
}
  /* POP-UP
  ========================================== */
#dialog .pop-up .content {
    width: 100%;
    max-width: 900px;
    overflow: hidden;
    text-align: center;
    position: relative;
    min-height: 100vh;
}
@media (min-width: 768px) {
  #dialog .pop-up .content {
      min-height: inherit;
    }
}
#dialog .pop-up .content .dots .dot {
    position: absolute;
    border-radius: 100%;
    z-index: 5;
}
#dialog .pop-up .content .dots .dot:nth-of-type(1) {
    top: -80px;
    right: -80px;
    width: 160px;
    height: 160px;
    background-color: #689bf6;
    animation: float 6s ease-in-out infinite;
}
@media (min-width: 768px) {
  #dialog .pop-up .content .dots .dot:nth-of-type(1) {
      top: -190px;
      right: -190px;
      width: 380px;
      height: 380px;
    }
}
#dialog .pop-up .content .dots .dot:nth-of-type(2) {
    bottom: 120px;
    left: -92px;
    width: 240px;
    height: 240px;
    background-color: #f66867;
    animation: float 8s ease-in-out infinite;
}
#dialog .pop-up .content .dots .dot:nth-of-type(3) {
    bottom: -50px;
    right: -50px;
    width: 200px;
    height: 200px;
    background-color: #ffd84c;
    animation: float 4s ease-in-out infinite;
}
#dialog .pop-up .content .title h1 {
    text-align: center;
    color: #f66867;
    /* text-transform: uppercase; */
    font-weight: 900;
    font-size: 2.8rem;
    letter-spacing: 0.05rem;
}
#dialog .pop-up .content > img {
    width: 100%;
    max-width: 220px;
    display: inline-block;
    /* margin: 30px 0 40px 0; */
    opacity: 1;
    transform: translateX(-70px);
    transition: 0.5s;
    animation: car-float 8s linear infinite;
}
@media (min-width: 768px) {
    #dialog .pop-up .content > img {
      max-width: 220px;
    }
}
#dialog .pop-up .content .subscribe input {
    /* width: 100%;
    float: left;
    padding: 15px 20px; */
    height: 75px;
    text-align: center;
    font-family: inherit;
    font-size: 2rem;
    letter-spacing: 0.05rem;
    outline: 0;
    margin-bottom: 15px;
    border: 1px solid #bec1c5;
    transition: all 0.4s;
    border-width: 2px 0px;
}
@media (min-width: 768px) {
    #dialog .pop-up .content .subscribe input {
        margin-bottom: 0px;
        width: 50%;
    }
}
#dialog .pop-up .content .subscribe input:focus {
    border-color: #689bf6;
}
#dialog .swing > img {
    display: inline-block;
    position: relative;
    top: -10px;
    right: 310px;
    padding: 27px 27px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    transform-origin: 2px 2px;
    animation: swing-back .4s 1 ease-in-out;
    max-width: 120px;
}
#dialog .swing input:focus + img,
#dialog .swing input:active + img {
  animation: swing 1.4s 1 ease-in-out;
  transform: rotate(82deg);
}
#dialog .suffix {
    position: relative;
    left: -120px;
}
@keyframes swing {
    0% {
      transform: rotate(0);
    }
    20% {
      transform: rotate(116deg);
    }
    40% {
      transform: rotate(60deg);
    }
    60% {
      transform: rotate(98deg);
    }
    80% {
      transform: rotate(76deg);
    }
    100% {
      transform: rotate(82deg);
    }
}
@keyframes swing-back {
    0% {
      transform: rotate(82deg);
    }
    100% {
      transform: rotate(0);
    }
}
@keyframes float {
    0% {
      transform: translatey(0px);
      transform: translatex(0px);
    }
    50% {
      transform: translatey(-30px);
      transform: translatex(20px);
    }
    100% {
      transform: translatey(0px);
      transform: translatex(0px);
    }
}
@keyframes car-float {
    0% {
      transform: translatey(0px);
      transform: translatex(0px);
    }
    33% {
      transform: translatey(0px);
      transform: translatex(20px);
    }
    66% {
        transform: translatey(50px);
        transform: translatex(-50px);
    }
    100% {
      transform: translatey(0px);
      transform: translatex(0px);
    }
}

/**
for dialog cv model
*/
#dialogcv .ant-card-head {
    background: linear-gradient(to right, rgb(24, 144, 255) , rgba(24, 144, 255, 0));
}
#dialogcv .ant-card-head::before {
    content: " ";
    display: block;
    position: absolute;
    left: -30px;
    z-index: 1;
    /* border: 30px solid #3D79D0; */
    border: 30px solid rgb(24, 144, 255);
    border-right-width: 0px;
    border-bottom-width: 25px;
}
#dialogcv .ant-card-head::after {
    content: " ";
    display: block;
    position: absolute;
    left: -60px;
    z-index: -1;
    top: 25px;
    border: 30px solid #1D53C0;
    visibility: visible;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    transform: rotate(-5deg);
}
#dialogcv .ant-modal-body {
    padding: 0;
}
#dialogcv .error-explain {
    color: #f5222d;
}
@page{
  size: A4;
  margin: 11mm 17mm 17mm 17mm;
}
@media print {
    /* #dialogcv .ant-card {
      page-break-inside: avoid;
    } */
    #app,
    .ant-modal-footer,
    .ant-modal-close,
    #dialogcv .ant-card-head::before,
    #dialogcv .ant-card-head::after{
        display: none;
    }
    #dialogcv, div {
        page-break-inside: auto;
    }
    .ant-modal-wrap {
        position: relative;
        overflow: hidden;
    }
    .ant-modal {
        overflow: auto;
    }
    /* html, body {
        width: 210mm;
        height: 297mm;
    } */
}