#A4-page {
  height:297mm;
  width:210mm;
  margin: 0 calc((100% - 210mm)/2);
}
#A4-page .portrait{
  width: 100px;
  height: 100px;
  line-height: 40px;
  border-radius: 100px;
}
#A4-page .ant-card-hoverable:hover {
  box-shadow: 0 2px 8px 3px rgb(24, 144, 255);
}
#A4-page .grid-style {
  width: 25%;
  text-align: center;
}

@media print {
  #A4-page {
    margin: 0;
    box-shadow: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}

#A4-page .salt-img {
  background-image: url(../../assets/salt.gif);
  background-size: 256px 158px;
  background-repeat: no-repeat;
  height: 158px;
}

h2:before
{
	content: ' ';
	position: absolute;
	width: 30px;
	height: 0;
	left: -30px;
	top: 12px;
	border-width: 20px 10px;
	border-style: solid;
	border-color: #999 #999 #999 transparent;
}