#A4-page {
  /* height:297mm; */
  width:210mm;
  margin: 0 calc((100% - 210mm)/2);
}
#A4-page .portrait{
  width: 100px;
  height: 100px;
  line-height: 40px;
  border-radius: 100px;
}
#A4-page .ant-card-hoverable:hover {
  box-shadow: 0 2px 8px 3px rgb(24, 144, 255);
}
#A4-page .grid-style {
  width: 25%;
  text-align: center;
}
/* @page{
  size: A4;
  margin: 11mm 17mm 17mm 17mm;
} */
@media print {
  div.ant-layout-footer {
    position: fixed;
    bottom: 0;
  }
  .ant-card {
    page-break-inside: always;
  }
  html, body {
    width: 210mm;
    height: 297mm;
  }
}

#A4-page .salt-img {
  background-image: url(../../assets/salt.gif);
  background-size: 256px 158px;
  background-repeat: no-repeat;
  height: 158px;
}
#A4-page .ant-card-head {
  /* background: #3D79D0; */
  background: linear-gradient(to right, rgb(24, 144, 255) , rgba(24, 144, 255, 0));
  /* font: 28px/60px sans-serif; */
}
#A4-page .ant-card-head::before {
  content: " ";
  display: block;
  position: absolute;
  left: -30px;
  z-index: 1;
  /* border: 30px solid #3D79D0; */
  border: 30px solid rgb(24, 144, 255);
  border-right-width: 0px;
  border-bottom-width: 25px;
}
#A4-page .ant-card-head::after {
  content: " ";
  display: block;
  position: absolute;
  left: -60px;
  z-index: -1;
  top: 25px;
  border: 30px solid #1D53C0;
  visibility: visible;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  transform: rotate(-5deg);
}
