#reveal .ant-anchor a {
    white-space: pre;
    color: #40a9ff;
    background: linear-gradient(to bottom, transparent 0%, #2098d1 0) left center/0% 50% no-repeat;
}
#reveal .container-fluid {
    padding-right: 30px;
}
#reveal .ant-anchor a:hover {
    color: white;
    background-size: 100% 100%;
}
#reveal .ant-anchor-link {
    white-space: pre;
    font-size: 1rem;
}
#reveal .ant-anchor-link:hover {
    font: bold;
}
.comment-input .ant-card-head {
    background: linear-gradient(to right, rgb(24, 144, 255) , rgba(24, 144, 255, 0));
}
.comment-input .ant-card-head::before {
    content: " ";
    display: block;
    position: absolute;
    left: -29px;
    z-index: 1;
    /* border: 30px solid #3D79D0; */
    border: 30px solid rgb(24, 144, 255);
    border-right-width: 0px;
    border-bottom-width: 25px;
}
.comment-input .ant-card-head::after {
    content: " ";
    display: block;
    position: absolute;
    left: -59px;
    z-index: -1;
    top: 25px;
    border: 30px solid #1D53C0;
    visibility: visible;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    transform: rotate(-5deg);
}