.ant-layout-header .logo {
    width: 120px;
    height: 31px;
    background: black;
    margin: 16px 24px 16px 0;
    float: left;
}

.ant-layout-header {
    background-image: url(../../assets/img-bg-header.jpg);
    /* background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%); */
}
